.header {
    display: inline-block;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    color: lightseagreen;
}
.header h1 {
    display: inline-block;

}
.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    color: lightseagreen;
    padding: 40px;

}
.nav li {
    padding: 14px 20px;
}
.AboutMe {
    background-color: antiquewhite;
}