.body {
    background-color: antiquewhite;

}
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(228, 210, 188);
    color: lightseagreen;
}
.header h1 {
    font-size: 50px;
    padding-top: 40px;

}
.nav ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(228, 210, 188);
    color: lightseagreen;
    padding: 65px;

}
.nav li {
    padding: 14px 20px;
}
.AboutMe {
    padding-left: 22px;
    padding-bottom: 15px;
    font-size: 19px;
}
.AboutMe h1 {
    padding-left: 50px;
}
.AboutMe p {
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
    padding-top: 45px;
    padding-bottom: 250px;
}
.selfie {
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding-left: 0px;
    padding-bottom: 75px;
}
.worktitle {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 75px;
}
.Work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.Work h2 {
    display: flex;
    justify-content: flex-end;
    color: rgb(69, 69, 82);
}
.prework {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
    margin-top: -80px;
    height: 800px;
    width: 800px;
    margin-bottom: 25px;
    background-image: url("../images/bowtie-cat.png");
    background-size: cover;
    background-position: center;
}
.proj1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    background-image: url("../images/pizza-express.png");
    background-size: cover;
    background-position: center;
}

.Work3 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    background-image: url("../images/filmetheca.png");
    background-size: cover;
    background-position: center;
}
.Contact {
    background-color: rgb(228, 210, 188);
}
.Contact ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    font-size: 20px;
}
    